/* General */
html {
    box-sizing: border-box;
}

*, *::before, *::after {
    box-sizing: inherit;
}

body {
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    font-weight: 300;
    line-height: 1.43;
    background: #e7e7e7;
    margin: 0;
    text-align: center;
}

h1, h2, h3, h4 {
    font-family: 'Bebas Neue', cursive;
    letter-spacing: 1.5px;
    font-weight: normal;
}

h1 {
    margin-bottom: 32px;
}

h2 {
    margin-bottom: 24px;
}

strong {
    font-weight: 500;
}

.button {
    line-height: 8px;
    font-family: inherit;
    font-weight: 500;
    text-decoration: none;
    color: #1c6698;
    display: inline-block;
    margin-top: 24px;
    padding: 13px 31px;
    border-radius: 3px;
    border: solid 2px #1c6698;
}

/* Layout */
.wrapper {   /*update article #skills .list::before*/
    padding-left: 24px;
    padding-right: 24px;
}

article section:nth-child(even) {
    background: black;
}

article section {
    padding-top: 60px;
    padding-bottom: 70px;
}

/* Header */

header {
    display: flex;
    height: 64px;
    justify-content: space-between;
    align-items: center;
    background: black;
    color: #a2a2a2;
}

header h2 {
    margin: 0;
    font-size: 14px;
    letter-spacing: 3px;
}

header #icon-close {
    display: none;
}

header nav {
    display: none;
}

/* Article */

article section:first-child p { /*main section (summary)*/
    font-size: 18px;
}

article section:first-child h1 {
    font-size: 36px;
    width: 220px;
    margin: 0 auto;
}

article #about-me { /*about me*/
    color: #a2a2a2;
}

article #skills { /*skills*/

}

article #skills .list::before,
article #skills .list::after {
    content: "";
    margin-left: 24px; /*update .wrapper*/
}

article #skills .list {
    padding-bottom: 16px;
    overflow: auto;
    display: flex;
    justify-content: center;
}

article #skills .list .skill {
    margin-right: 32px;
    border-radius: 3px;
    box-shadow: 1px 2px 4px 0 rgba(0, 0, 0, 0.5);
    flex-shrink: 0;
    padding: 30px 34px;
    background: black;
    width: 208px;
    color: #a2a2a2;
}

article #skills .list .skill:last-child {
    margin-right: 0;
}

article #skills .list .skill h3 {
    margin-top: 0;
    font-size: 14px;
    border: solid 1px #fff;
}

article #skills .list .skill h4 {
    color: white;
}

article #skills .list .skill ul {
    padding: 0;
    list-style: none;
}

/* Footer TODO: footer */

footer {
    height: 104px;
    color: #a2a2a2;
    display: flex;
    background: black;
    justify-content: center;
    align-items: center;
}